.Card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: left;
  width: 240px;
  height: 160px;
  border-radius: 4px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  padding: 1.25rem 1.8rem;
}
h5 {
  color: #545f7d;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
h3 {
  color: #213f7d;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
